

<h1>Página de Dragonball</h1>
<hr>

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar: {{ name() }}</h3>
    <!-- Le asignamos la referencia local mediante # al input, para poder hacer referencia a él mismo
    cuando setteamos la señal
    mediante el evento (change) setteamos el valor al perder el foco en el input, sin embargo
    mediante el evento input, actualizamos el valor cada vez que el campo de texto cambia -->
    <input
      type="text"
      class="form-control"
      placeholder="Nombre"
      [value]="name()"
      (change)="name.set(txtName.value)"
      (input)="name.set(txtName.value)"
      #txtName
    >

    <h3>Agregar: {{ power() }}</h3>
    <input
      type="number"
      class="form-control mt-2"
      placeholder="Poder"
      [value]="power()"
      (change)="power.set(txtPower.valueAsNumber)"
      (input)="power.set(txtPower.valueAsNumber)"
      #txtPower
      >

    <button (click)="addCharacter()" class="mt-2 btn btn-primary">Agregar</button>
  </div>

  <div class="row col-12 col-sm-6">
    <h3>Listado</h3>
    <ul>
      @for (character of characters(); track character.id; let idx = $index) {

        @if ( character.power > 1000) {
          <li>
            <span>{{ idx + 1 }} {{ character.name }}</span>
            <!-- Podemos poner condiciones para aplicar clases de css con ng de la siguiente forma -->
            <!-- [class.text-danger]="character.power > 9000"
            [class.text-primary]="character.power < 9000" -->

            <!-- Podemos utilizar ngClass para aplicar una funcion de la clase que retorne la clase en un objeto -->
            <!-- [ngClass]="poweredClass() -->
            <strong
            [class.text-danger]="character.power > 9000"
            [class.text-primary]="character.power < 9000"
            > ({{ character.power }})</strong>
          </li>
        }
      }
    </ul>

  </div>



</section>
