<h1>{{ name() }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name() }}</dd>

  <td>Edad:</td>
  <dd>{{ age() }}</dd>

  <td>Método:</td>
  <dd>{{ heroDescription() }}</dd>
  <!-- <dd>{{ getHeroDescription() }}</dd> -->

  <td>Capitalizado:</td>
  <!-- <dd> {{ capitalizedName() }} </dd> -->
  <!-- <dd> {{ name().toUpperCase() }} </dd> -->
  <!-- Utilizando Pipes que modifica visualmente el valor a mayúsculas -->
  <dd> {{ name() | uppercase }} </dd>
</dl>

<button (click)="changeHero()" class="btn btn-primary mx-2">
  Cambiar nombre
</button>

<button (click)="changeAge()" class="btn btn-primary">Cambiar edad</button>

<button (click)="resetForm()" class="btn btn-primary mx-2">Reset</button>
